## Assignment Plan
* Clean/Preprocess data
* Build NN with all features (14 input nodes)
* ReLU activation for hidden layers and Linear transformation activation for output layer
* Evaluate model and try to improve accuracy based on:
    * Different activations for hidden layer
    * Differnt number of hidden layers and nodes in hidden layers
    * Change input data to remove irrelevant columns based on CorrPlot

In [62]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.datasets import load_boston # Boston Housing data

In [63]:
# Building Boston Housing DF

boston = load_boston()
bos = pd.DataFrame(boston.data)
bos.head()
bos.columns = boston.feature_names
# bos.head()

In [76]:
X = bos.iloc[0:-1]
# X = pd.Series(bos.loc[:, :'LSTAT'], index=bos.index)
y = boston.target

In [54]:
# Adding PRICE column
print(boston.target.shape)
bos['PRICE'] = boston.target
bos.head()
len(bos.columns)

(506,)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [60]:
# y = bos.loc['PRICE']
type(bos["PRICE"])

pandas.core.series.Series

In [61]:
X = bos.loc[:, :'LSTAT']
type(X)
X = pd.Series(bos.loc[:, :'LSTAT'], index=bos.index)

pandas.core.frame.DataFrame

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)